## hack for graddle wrapper
!wrapper/*.jar
!**/wrapper/*.jar
.gitignore
.idea/workspace.xml
llll/src/
ly-common/src/main/java/com/leyou/common/entity/Category.java
ly-common/src/main/resources/
ly-common/src/test/
ly-common/target/
ly-gateway/src/test/
ly-gateway/target/
ly-item/ly-item-api/src/
ly-item/ly-item-pojo/src/main/resources/
ly-item/ly-item-pojo/src/test/
ly-item/ly-item-pojo/target/
ly-item/ly-item-service/src/main/java/com/leyou/item/config/
ly-item/ly-item-service/src/test/
ly-item/ly-item-service/target/
ly-registry/src/test/
ly-registry/target/
